<nav class="line">
    <br>
    <ul class="navbar">
    <li class="navlist"><a href="/dashboard" class="navlink">DASHBOARD </a></li>
    <li class="navlist"><a href="/createpost" class="navlink">WRITE AN ARTICLE</a></li>
    <li class="navlist"><a href="/authors" class="navlink">OUR AUTHORS</a></li>
    </ul>
    <br>
</nav>